<extend name='common:index'/>
<block name='left'>
    <div class="vernav2 iconmenu">
        <ul>
            <li><a href="{:U('Admin/Other/schoolindex')}" class="elements">校区管理</a></li>
            <li><a href="{:U('Admin/Other/classindex')}" class="elements">班期管理</a></li>
            <li><a href="{:U('Admin/Other/subjectindex')}" class="elements">考试科目管理</a></li>
            <li><a href="{:U('Admin/Other/typeindex')}" class="elements">考题类别管理</a></li>
        </ul>
        <a class="togglemenu"></a>
        <br /><br />
    </div><!--leftmenu-->
</block>
<block name='content'>
    <div class="centercontent">
    
        <div class="pageheader">
            <h1 class="pagetitle">校区</h1>
            <span class="pagedesc">----------------------------</span>
            
            <ul class="hornav">
                <li class="current"><a href="#updates">校区列表</a></li>
                <li><a href="#activities">添加校区</a></li>
            </ul>
        </div><!--pageheader-->
        <div id="contentwrapper" class="contentwrapper">
        
        	<div id="updates" class="subcontent">
				<table cellpadding="0" cellspacing="0" border="0" id="table1" class="stdtable stdtablecb">
                <colgroup>
                    <col class="con0" style="width: 4%" />
                    <col class="con1" />
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                    <col class="con1" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="head0"><input type="checkbox" class="checkall" /></th>
                        <th class="head1">编号</th>
                        <th class="head0">校区</th>
                        <th class="head1">操作</th>
                    </tr>
                </thead>
                <tbody>
                <foreach name='school' item='data'>
                    <tr>
                        <td align="center"><input type="checkbox" /></td>
                        <td>{$num++}</td>
                        <td>{$data.names}</td>
                        <td calss='center'>
                            <input type='hidden' value='{$data.id}' name='id' class = 'edit_id'/>
                            
                            <a href="javascript:void(0)" class="btn btn_book"><span class='edits' >修改</span></a>

                            <a href="javascript:void(0)" class="btn btn_book"><span class='sure_edit' style='display:none' >确认修改</span></a>
                            
                            <a href="{:U('Admin/Other/DeleteSchool',array('id'=>$data['id']))}" class="btn btn_trash"><span>删除</span></a>
                        </td>
                    </tr>
                </foreach>
                </tbody>
            </table>
            </div><!-- #updates -->
            
            <div id="activities" class="subcontent" style="display: none;">
                <form id="form1" class="stdform" method="post" action="{:U('Admin/Other/AddSchool')}">
                	<p>
                    	<label>校区名称</label>
                        <span class="field"><input type="text" name="names" id="firstname" class="longinput" /></span>
                    </p>
                    <br />
                    <p class="stdformbutton">
                    	<button class="submit radius2">确认添加</button>
                    </p>
                </form>
            </div><!-- #activities -->
        	
        </div><!--contentwrapper-->
    </div>
<script style='text/javascript' charset="utf-8">


    $('.edits').click(function(){
        var edit_id = $(this).parent().prev().val()
        //先获取到我要修改的值。
        var oldText = $(this).parent().parent().prev().text();
        //编写html添加进去。
        var html = "<input type='text' name='username' placeholder='"+oldText+"' class = 'edit_input'/> ";
        //清空原有数据,并保存
        var schooname =  $(this).parent().parent().prev().text('');
        //添加input表单。
        $(this).parent().parent().prev().append(html);
        //清除原有按钮，并清空
        // var dis = $(this).css('display','none');

        // $('.sure_edit').css('display','block');

        //绑定焦点
        $('.edit_input').focus();

        $('.edit_input').blur(function(){
            var newText = $('.edit_input').val(); // 修改后的名称
            //alert(newText); 
            var input_blur = $('.edit_input');

            if(oldText != newText && newText.length != 0){
                
               $.post('{:U('Admin/Other/EditSchool')}',{'edit_name':newText,'edit_id':edit_id},function(data){
                    if(data == 0){
                        schooname.text(newText);
                        // $('this').css('display','none');
                    }else{
                        return false;
                    }

                });
            }else{
                setTimeout(function(){
                    location.href=location.href;
                }, 100)
            }
        });
    });
</script>
</block>
