<extend name='common:index'/>
<block name='left'>
    <div class="vernav2 iconmenu">
        <ul>
            <li><a href="{:U('Admin/Other/schoolindex')}" class="elements">校区管理</a></li>
            <li><a href="{:U('Admin/Other/classindex')}" class="elements">班期管理</a></li>
            <li><a href="{:U('Admin/Other/subjectindex')}" class="elements">考试科目管理</a></li>
            <li><a href="{:U('Admin/Other/typeindex')}" class="elements">考题类别管理</a></li>
        </ul>
        <a class="togglemenu"></a>
        <br /><br />
    </div><!--leftmenu-->
</block>
<block name='content'>
    <div class="centercontent">
    
        <div class="pageheader">
            <h1 class="pagetitle">题型</h1>
            <span class="pagedesc">----------------------------</span>
            
            <ul class="hornav">
                <li class="current"><a href="#updates">类别列表</a></li>
                <li><a href="#activities">添加类别</a></li>
            </ul>
        </div><!--pageheader-->
        <div id="contentwrapper" class="contentwrapper">
        
            <div id="updates" class="subcontent">
                <table cellpadding="0" cellspacing="0" border="0" id="table1" class="stdtable stdtablecb">
                <colgroup>
                    <col class="con0" style="width: 4%" />
                    <col class="con1" />
                    <col class="con0" />
                    <col class="con1" />
                    <col class="con0" />
                    <col class="con1" />
                </colgroup>
                <thead>
                    <tr>
                        <th class="head0"><input type="checkbox" class="checkall" /></th>
                        <th class="head1">编号</th>
                        <th class="head0">类别</th>
                        <th class="head0">状态</th>
                        <th class="head1">操作</th>
                    </tr>
                </thead>
                <tbody>
                <foreach name='main' item='type'>
                    <tr>
                        <td align="center"><input type="checkbox" /></td>
                        <td>{$num++}</td>
                        <td>{$type['name']}</td>
                        <td value='{$type['state']}'><if condition="$type['state'] eq 1">启用<else/>禁用</if></td>
                        <td style='display:none'>
                            <select name='state' class="edit_select">
                              <option {$type['state'] ==0?"selected='selected'":''} value='1'>启用</option>
                              <option {$type['state'] ==1?"selected='selected'":''} value='2'>禁用</option>
                            </select>
                        </td>
                        <td class='center'>
                            <input type="hidden" value="{$type['id']}" name="id" class="edit_id">
                           <!--{:U('Admin/Student/edit',array('id'=>$data['id']))} <a>原标签中传值-->
                          
                            <a href="javascript:void(0)" class="btn btn_book"><span class="edits">修改</span></a>

                            <a href="javascript:void(0)" class="btn btn_book"><span class="sure_edit" style="display:none;">确认修改</span></a>
                           <a href="{:U('Admin/Other/deletetype',array('id'=>$type['id']))}" class="btn btn_trash"><span>删除</span></a>
                        </td>
                    </tr>
                </foreach>
                </tbody>
            </table>
            </div><!-- #updates -->
            
            <div id="activities" class="subcontent" style="display: none;">
                <form id="form1" class="stdform" method="post" action="{:U('Admin/Other/AddType')}">
                    <p>
                        <label>类别名称</label>
                        <span class="field"><input type="text" name="name" id="firstname" class="longinput" /></span>
                    </p>
                    <br />
                    <p class="stdformbutton">
                        <button class="submit radius2">确认添加</button>
                    </p>
                </form>
            </div><!-- #activities -->
            
        </div><!--contentwrapper-->
<script style="text/javascript" charset="utf-8">

    //修改单击事件
    $(".edits").click(function(){

        //获取当前修改信息的id值
        var edit_id = $(this).parent().prev().val();

        //获取要修改的文本信息。
        var oldText1 = $(this).parent().parent().prev().prev().prev().text();
        var oldText2 = $(this).parent().parent().prev().prev().text();

        //清空原有数据。
        $(this).parent().parent().prev().prev().prev().text('');

        //编写html添加进去。
        var html = "<input type='text' name='typename' value='"+oldText1+"' placeholder='"+oldText1+"' class = 'edit_input'/> ";

        //添加input表单。
        $(this).parent().parent().prev().prev().prev().append(html);

        //修改html状态
        $(this).css('display','none');//隐藏当前修改按钮
        $(this).parent().next().children('span.sure_edit').css('display','block');//显示确认修改按钮
        //隐藏状态文本
        $(this).parent().parent().prev().prev().css("display","none")
        //启用下拉选框
        $(this).parent().parent().prev().css("display","table-cell");
      
    });

       // 点击确认修改按钮的事件
    $('.sure_edit').click(function(){
        // 修改后的input文本值
        var edit_id = $(this).parent().prev().prev().val();//当前信息的id值 
        var newText1 = $(this).parent().parent().prev().prev().prev().children().val();//文本
        var newText2 = $(this).parent().parent().prev().children().children("option:selected").attr('value');//获取当前信息状态
        var newText3 = $(this).parent().parent().prev().children().children("option:selected").text();//获取当前信息文本

        //获取当前节点对象
        var that = $(this);

        //判断input是否为空
        if(newText1==''){
            alert('请输入信息');
        }else{
            $.post('{:U('Admin/Other/edittype')}',{'edit_id':edit_id,'input_value':newText1,'select_state':newText2},function(data){
                if(data == 1){

                    //按钮样式改变
                    that.css('display','none');
                    that.parent().prev().children().css('display','block');
                    that.parent().parent().prev().css('display','none');
                    that.parent().parent().prev().prev().css('display','table-cell');

                    //清空节点信息
                    that.parent().parent().prev().prev().prev().text('');
                    that.parent().parent().prev().prev().text('');

                    //填充信息
                    var text1 = newText1;
                    var text2 = newText3;
                    that.parent().parent().prev().prev().prev().append(text1);
                    that.parent().parent().prev().prev().append(text2);

                }else{
                    alert('修改失败！');
                }
            });
        }
    }); 
    
</script>
</block>